.formSection {
    color: #111;
    padding: 175px 70px;
}

.contentContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.phoneBox {
    margin-right: 30px;
    /* padding-left: 20px; */
}

.phoneBox h2 {
    margin-bottom: 15px;
    font-size: 35px;
}

.phoneBox p {
    font-size: 28px;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.phoneBox p span {
    margin-right: 13px;
}

.hearSoonText {
    display: block;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 50px;
}

.form {
    display: block;
    align-items: center;
    max-width: 750px;
    margin: 0 auto;
    /* border: 1px solid #111; */
    padding: 5px;
    gap: 30px;
}

.form hr {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 531px;
}

.form button {
    cursor: pointer;
    padding: 13px 35px;
    background-color: #111;
    color: #fff;
    border: none;
    font-size: 17px;
    font-weight: 200;
    transition: ease-in-out 0.2s;
    border-radius: 2px;
}

.form button:hover {
    background-color: #282828;
    color: #fff;
}

.form label {
    display: inline-block;
}

.form label>span {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}

.form label>input {
    display: block;
    min-width: 250px;
    padding: 7px 10px;
    margin-right: 30px;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: inherit;
    border: 1px solid black;
    border-radius: 3px;
}

.form label>input:focus {
    background-color: #1111111b;
    border: 1px solid blue;
    outline: none;
}

.formBox h2 {
    margin-bottom: 50px;
    font-size: 35px;
}

.fullWidthInput {
    min-width: 100%;
    /* padding-right: 29px; */
}

.fullWidthInput input {
    width: 531px;
    /* margin-right: 10px; */
}

.successMessage {
    font-size: 40px;
    font-weight: bold;
    color: #54c036;
    margin-top: 100px;
}

.successMessage span {
    font-size: 40px;
    font-weight: lighter;
    color: #54c036;
    margin-top: 20px;
}

.submittingMessage {
    font-size: 40px;
    font-weight: bold;
    color: #111;
}